<div class="main-container"> <!-- container for all website content -->
    <header>  <!--tpyewriter effect and sign in for users -->
        
        {{!-- {{#unless logged_in}}
                    <a href="#" style="float:right;" class="clearfix"> Sign up to plan your volunteer trip!! </a>
                {{/unless}} --}}
        
        <div id="typewriter">
            <h1 class="typewrite" data-period="2000" data-type='["Seattle,WA","Los Angeles,CA","Orlando,FL","Volunteer There...", "Volunteer Anywhere", "Your Adventure Awaits!"]'>
            <span class="wrap"></span>
            </h1>
        </div>
        <nav>
            <ul>

            </ul>
        </nav>
    </header>


    <div class=mainContent><!--Content that explains what we do -->         
        <div class="row" id="information">
            <h1>What do we do?</h1>
            <h2>We help you relax and give back to the communities you visit</h2>
            <div class="col-sm-4" id="destination_explained">
                <a href="/trips/flights" class="flightsearch">
                    <div class="plane"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <p>Pick a flight! </p>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="volunteer_explained">
                    <a href="/trips/volunteer" class="volsearch">
                        <div class="heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
                            <p>Pick the cause you believe in to give back to the community you're visiting, and we'll make your itinerary.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hotels_explained">
                    <a href="/trips/hotels" class="hotelsearch">
                        <div class="hotel"><i class="fa fa-bed" aria-hidden="true"></i></div>
                            <p>Find a great place to stay at a discounted rate!</p>
                    </a>
                </div>
            </div>
        </div>

    </div>

        <!--input form-->
                {{#if logged_in}}
        <form id="searchForm" class="create-update-form" action="trips/create" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="usersOrigin">Flying from</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
                        <input type="text" name="usersOrigin" class="form-control awesomplete" id="usersOrigin" placeholder="City, State (ex: Orlando,FL)*">
                    </div>
                    <div class="col-md-4">
                        <label for="usersDestination">Flying to</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
                        <input type="text" name="usersDestination" class="form-control awesomplete" id="usersDestination" placeholder="City, State (ex: Orlando,FL)*">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"
                    <label for="departingDate">Departing Date</label>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <input type="date" name="departingDate" class="form-control" id="departingDate">
                </div>
                <div class="col-md-4">
                    <label for="returningDate">Returning Date</label>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <input type="date" name="returningDate" class="form-control" id="returningDate">
                </div>
                <div class="col-md-4">
                    <label for="volunteers"> Number of volunteers</label>
                    <select id="volunteers" name="volunteers" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>more than 6</option> <!-- if more than six have user specify a number -->
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-default" id="submit3"><span class='fa fa-floppy-o' aria-hidden="true"> </span>Save</button>
            <p>*destinations are limited to the United States</p>
        </form>

        <div class="row">
            <div id="saved" class="col-md-6">
                <h2>Saved Trip</h2>
                <ul id="itineraryList">
                    {{#each trips}}
                        {{#unless this.itinerary}}
                            <li>
                                Depart: {{this.depcity}} <br>
                                Destination: {{this.destcity}} <br>
                                Depart date: {{this.departdate}} <br>
                                Return date: {{this.returndate}} <br>
                                Number of volunteers: {{this.numvol}} <br>

                                <form action="trips/update/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="itinerary" value="true">
                                    <button type="submit" class="submit">Create your itinerary</button>
                                </form>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div id="itin" class="col-md-6">
                <h2>Your itinerary</h2>
                <ul>
                    {{#each trips}}
                        {{#if this.itinerary}}
                            <li>
                                Depart: {{this.depcity}} <br>
                                Destination: {{this.destcity}} <br>
                                Depart date: {{this.departdate}} <br>
                                Return date: {{this.returndate}} <br>
                                Number of volunteers: {{this.numvol}} <br>
                                {{> trips/delete-trip}}
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
</div><!-- end of  container -->